In [3]:
import numpy as np
import pandas as pd

from pandas import DataFrame, Series

dataset = pd.read_csv("austin_listings.csv", header = 0)
shared = []
entire = []
room = []
for row in dataset.itertuples():
    r_type = row.room_type
    if r_type == 'Shared room':
        room.append(0)
        shared.append(1)
        entire.append(0)
    elif r_type == 'Entire home/apt':
        room.append(0)
        shared.append(0)
        entire.append(1)
    elif r_type == 'Private room':
        room.append(1)
        shared.append(0)
        entire.append(0)
dataset['shared'] = Series(shared, index=dataset.index)
dataset['entire'] = Series(entire, index=dataset.index)
dataset['room'] = Series(room, index=dataset.index)

In [4]:
dataset.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,shared,entire,room
0,1078,*UT/Hyde Park Craftsman Apartment,4635658,Tracy,NaN,78705,30.30123,-97.73674,Entire home/apt,85,1,208,2017-07-14,1.63,3,43,0,1,0
1,2265,Zen-East in the Heart of Austin,2466,Paddy,NaN,78702,30.27750,-97.71398,Entire home/apt,225,2,23,2018-09-16,0.19,3,125,0,1,0
2,5245,"Green, Colorful, Clean & Cozy home",2466,Paddy,NaN,78702,30.27577,-97.71379,Private room,100,28,9,2018-03-14,0.07,3,3,0,0,1
3,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26112,-97.73448,Entire home/apt,95,2,472,2019-02-22,3.88,1,302,0,1,0
4,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.45596,-97.78370,Private room,40,1,240,2019-02-24,2.21,1,72,0,0,1

In [6]:
import gender_guesser.detector as gender

ModuleNotFoundError: No module named 'gender_guesser'